.create-message {
  width: 100%;
  background-color: #f5f5f5;
  padding: 30px;
  position: relative;

  &__input {
    width: 100%;
    background-color: #fafafa;
    border-radius: 20px;
    padding: 20px 40px;
    border: 1px solid #eeeeee;
    outline: none;
    font-size: 18px;
  }

  &__icon {
    position: absolute;
    width: 30px;
    cursor: pointer;
    right: 50px;
    top: 48px;
  }
}
